.App {
  text-align: center;
  height: 100%;
}


/* debut header */
.header{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "serif";
  height:"50vh";
  background-image:url("../../assets/bg2.jpg");
  background-size: Cover;
  background-repeat: "no-repeat";
  margin-left:-1rem;
  margin-right:-1rem;
  z-index: 1;
}

.header__title{
  display: flex;
  justify-content: space-around;
}

/* debut footer */
.footer{
  height: 50vh;
  background-color: #cbd8f6;
}

.plan a{
  width: 200px;
  color: black;
}
.plan a:hover{
  background-color: #0a141f;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  text-shadow: 3px 3px 5px black;
}