.footer{
    height: 40vh;
    background-color: #cbd8f6;
}

.plan a{
    width: 200px;
    color: black;
}
.plan a:hover{
    background-color: #0a141f;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 5px black;
}