nav{
    display: flex;
    justify-content: space-around;
    align-items: end;
    text-shadow: 3px 3px 5px rgb(241, 234, 234);
    width: 100vw;
    height: 100px;
}

button{
    width: 200px;
    border-radius: 10px;
    color: #7C005A;
}

a:hover{
    text-decoration: none;
    box-shadow: 3px 3px 5px black;
}

.dropdown-content{
    padding-top: 10px;
    margin-left: -20px;
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content a{
    padding-top: 10px;
    margin-top: 10px;
    padding-left: 10px;
    color: #7C005A;
    background-color: #f3edf0;
    border-radius: 10px;
    height: 50px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.dropdown:hover .dropdown-content{
    display: block;
}