nav{
    display: flex;
    justify-content: space-around;
    align-items: end;
    color: whitesmoke;
    text-shadow: 3px 3px 5px black;
    width: 100vw;
    height: 100px;
}

li{
    list-style-type: none;
}

.logo{
    
}

.nav-links{
    width: 80%;
    display: flex;
    justify-content: space-around;
}