
.contenu1{
    font-family: cursive;
    width: cover;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: url("../../assets/bible3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #7C005A;
}

.annonce{  
    margin-left: auto;
    margin-right: auto;
}
.annonce h3{
    margin: auto;
    width: 300px;
    transition: all 1s;
}
.annonce p{
    padding-top: 20px;
}
.annonce div{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
}
.annonce div:hover{
    background-color: whitesmoke;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
    scale: 2;;
}

.annoncePasteur{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.annoncePasteur h2{
    margin-bottom: -50px;
    background-color: whitesmoke;
    width: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}